[Unit]
Description=Som do Mato API Service

[Service]
Environment=NODE_ENV=production PORT=4000
User=nginx

ExecStart=/usr/bin/node /var/www/api.somdomato.com/server.js
WorkingDirectory=/var/www/api.somdomato.com

RestartSec=10
Restart=always

#StandardOutput=/var/www/api.somdomato.com/logs/sdm.out.log
#StandardError=/var/www/api.somdomato.com/logs/sdm.err.log
#SyslogIdentifier=nodejs-sdm

[Install]
WantedBy=multi-user.target